OLLAMA_BASE_URL=http://localhost:11434/
OLLAMA_MAIN_MODEL=qwen3.5:4b
OLLAMA_SUMMARY_MODEL=gemma3:1b
GROQ_API_KEY=<YOUR_GROQ_API_KEY>

MEM0_API_KEY=<YOUR_MEM0_API_KEY>
MEM0_ORG_ID=<YOUR_MEM0_ORG_ID>
MEM0_PROJECT_ID=<YOUR_MEM0_PROJECT_ID>